<nav class="navbar navbar-expand-md navbar-light shadow" style="background-color:whitesmoke;">
    <div class="container">
        <h2 routerLink="all-recipes" style="cursor: pointer;"><strong><span class="flip">R</span>B</strong></h2>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>

      <b class="nav-item dropdown" *ngIf="isUserAuthenticated">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">

        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" routerLink="">My Recipes</a></li>
          <li><a class="dropdown-item" routerLink="">My Saved Recipes</a></li>
          <li><a class="dropdown-item" routerLink="">Logout</a></li>
        </ul>
    </b>

      <h2 *ngIf="!isUserAuthenticated">
        <a style="text-decoration: none; color: black;" routerLink="auth">
        <strong>Auth</strong></a>
      </h2>

    </div>
  </nav>

